@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MonitoringNetCore.Domain.Entities.Camera>

@{
    ViewBag.title = "دوربین ها";
    ViewBag.menuNavigation = "پیشخوان";
    ViewBag.menuItem = "دوربین ها";
    ViewBag.activeNavigation = "navigationDashboard";
    ViewBag.activeItem = "itemCameras";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        لیست دوربین ها
        <a asp-action="Create">اضافه کردن</a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="usersList">
                    <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Type)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Url)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Enable)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td class="latin">
                                @Html.DisplayFor(modelItem => item.Url)
                            </td>
                            <td>
                                @{
                                    var status = (bool)!item.Enable ? "غیر‌فعال" : "فعال";
                                }
                                @status
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">جزییات</a> |
                                @* <a asp-action="Delete" asp-route-id="@item.Id">حذف</a> *@
                                <a asp-action="StartSideBySide" asp-route-id="@item.Id">پردازش</a>
                                <a asp-controller="Video" asp-action="Index"
                                   asp-route-cameraId="@item.Id"
                                   class="btn btn-default btn-outline-primary ">
                                    ویدئو ها
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<a asp-action="CreateTile" class="btn btn-outline-primary">مشاهده</a> 